__pycache__/
.ruff_cache/

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Folders
ZIPS/**
!ZIPS/.gitkeep
# Patient data files (but keep folder structure)

Patients/**
!Patients/.gitkeep
!Patients/**/.gitkeep

Dicoms/*
!Dicoms/.gitkeep

test_results/
*.log
*.jpeg
*.dcm
*.pdf
.cursorignore