__pycache__/
.ruff_cache/

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Folders
!ZIPS/
ZIPS/*
!ZIPS/.gitkeep
# Patient data files (but keep folder structure)
Patients/**/*.jpeg
Patients/**/*.jpg
Patients/**/*.pdf
Patients/**/*.dcm
!Patients/.gitkeep
!Patients/**/.gitkeep
Dicoms/*
!Dicoms/.gitkeep

test_results/
*.log
*.jpeg
*.dcm
*.pdf
.cursorignore